:root {
	--min-moviecard-w: 220px;
}

.movie-card-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--min-moviecard-w), 1fr));
	grid-gap: 20px;
}

.movie-card-list .movie-card {
	max-width: 500px;
}

@media (width > 1800px) {
	:root {
		--min-moviecard-w: 300px;
	}
}
